@import "./variation1/styles.scss";

//change to variation number based on your requirement

.page-content {

    color: green;
}

.sale-banner {

    background-color: red;

    .content-wrap {
        color: blue;
    }

}

.hidden {
    display: none;
}